@model WebASP.Models.NhomSanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NhomSanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Tên nhóm</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhomSP)
        </dd>

        <dt>
            <b>Mô tả</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaNhomSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNhomSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
